body{
    background-color: #f4f4f4;
}

.titulo {
    text-align: center;
}

.col-1 { 
    background-color: #99E0D9;
    border-style: ridge;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.col-2 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-3 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-4 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-6 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-8 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-10 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.col-12 {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.row .divice {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.fijo {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.container-fluid {
    background-color: #99E0D9;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.uno{
    background-color: #000;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.dos{
    background-color: blue;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.tres{
    background-color: green;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.cuatro{
    background-color: yellow;
    border-style: solid;
    border-style: ridge;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.nav nav-pills .uno{
    background-color: rgba(0, 0, 0, 1); 
    text-decoration: none;
    color: #fff;
}


p {
    margin-top: 50px;
}